table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    border: 1px solid black;
}
/*
.TestContainer .Change_Table .table-hero td {
    border: none;
}

.TestContainer .Change_Table table {
    border: none;
    background-color: white;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 15px;
    border: 1px solid black;
}

.container {
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80%;
    padding: 10%;
}

.Change_Table {
    border-style: solid;
    border-color: black;
    width: 80%;
    height: 1000px;
    padding: 2%;
    background-color: white;
}*/

/* start */


/* .Change_Table{
	margin-top: 45px !important;
} */
.TestContainer .Change_Table table {
    /* border: none; */
    background-color: white;
}

td,
th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 15px;
    border: 1px solid black;
}

.container {
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80%;
    padding: 2%;
}

.Change_Table {
    /* border: solid 1px;
	border-color: black; */
    width: 1000px;
    height: 1150px;
    padding: 1%;
    background-color: white;
    /* box-shadow: 2px 2px rgb(218, 222, 226); */
}
/*end*/

img {
    width: 80px;
    height: 100px;
}

th {
    font-weight: 300;
    font-size: 15px;
}

.table-hero td {
    font-weight: 600;
    font-size: 30px;
}

    .table-hero td p {
        font-weight: 300;
        font-size: 16px;
        margin-right: 70px;
    }
