@model TotalFireSafety.Models.Employee

@{
    ViewBag.Title = "Add Users";
    Layout = "~/Views/AdminLayout.cshtml";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Adding User
        </h2>
    </header>

    <main>

        <div class="add-container">

            <div class="image-container">
                <div class="wrapper">
                    <div class="user-image">
                        <img src="" alt="" class="user-pic">
                    </div>
                    <div class="image-content">
                        <div class="image-icon">
                            <span class="las la-cloud-upload-alt"></span>
                        </div>
                        <div class="image-warn">
                            <label>No File chosen, yet!</label>
                        </div>
                    </div>
                    <div id="img-cancel-btn">
                        <span class="lar la-window-close"></span>
                    </div>
                </div>
                <button onclick="defaultBtnActive()" id="custom-btn"><h3>Choose a file</h3></button>
                <input id="default-btn" type="file" hidden>
            </div>

            <div class="form-container">
                <form action="">
                    <div class="details personal">
                        <div class="form-header">
                            ACCOUNT INFORMATION
                        </div>
                        <div class="form-contents">
                            <div class="fields">
                                <div class="input-field">
                                    <label>Name</label>
                                    <input type="text" placeholder="Enter your name" required>
                                </div>

                                <div class="input-field">
                                    <label>Position</label>
                                    <select required>
                                        <option disabled selected>Select Position</option>
                                        <option>Supervisor</option>
                                        <option>Office Manager</option>
                                        <option>Warehouse Manager</option>
                                    </select>
                                </div>

                                <div class="input-field">
                                    <label>Role</label>
                                    <select required>
                                        <option disabled selected>Select Role</option>
                                        <option>...</option>
                                        <option>..</option>
                                        <option>.</option>
                                    </select>
                                </div>

                                <div class="input-field">
                                    <label>Employee ID</label>
                                    <input type="number" placeholder="00000" readonly>
                                </div>

                                <div class="input-field">
                                    <label>Account Status</label>
                                    <select required>
                                        <option disabled selected>Select Status</option>
                                        <option>isActive</option>
                                        <option>isInactive</option>
                                        <option>isLocked</option>
                                    </select>
                                </div>

                                <div class="input-field">
                                    <label>Address</label>
                                    <input type="text" placeholder="17kth Manila" required>
                                </div>

                                <div class="input-field">
                                    <label>Birthday</label>
                                    <input type="date" placeholder="Enter birth date" required>
                                </div>

                                <div class="input-field">
                                    <label>Age</label>
                                    <input type="number" placeholder="Enter your age here" required>
                                </div>

                                <div class="input-field">
                                    <label>Civil Status</label>
                                    <select required>
                                        <option disabled selected>Select Civil Status</option>
                                        <option>Single</option>
                                        <option>Married</option>
                                        <option>Widowed/er</option>
                                        <option>Divorced</option>
                                        <option>Separated</option>
                                    </select>
                                </div>

                                <div class="input-field">
                                    <label>Mobile Number</label>
                                    <input type="number" placeholder="Enter mobile number here" required>
                                </div>

                                <div class="input-field">
                                    <label>Email</label>
                                    <input type="email" placeholder="Enter email here" required>
                                </div>

                                <div class="input-field">
                                    <label>Gender</label>
                                    <select required>
                                        <option disabled selected>Select Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>

                                <div class="input-field">
                                    <label>SSN/GovID</label>
                                    <input type="number" placeholder="Enter SSN/GovID here" required>
                                </div>

                                <div class="input-field">
                                    <label>Username</label>
                                    <input type="email" placeholder="Enter username here" required>
                                </div>

                                <div class="input-field">
                                    <label>Password</label>
                                    <input type="password" placeholder="" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="emer-details">
                        <div class="form-header">
                            EMERGENCY CONTACT INFORMATION
                        </div>
                        <div class="form-contents">
                            <div class="fields">
                                <div class="input-field">
                                    <label>Name</label>
                                    <input type="text" placeholder="Enter name here" required>
                                </div>

                                <div class="input-field">
                                    <label>Relationship</label>
                                    <input type="text" placeholder="Enter relationship here" required>
                                </div>

                                <div class="input-field">
                                    <label>Address</label>
                                    <input type="text" placeholder="Enter relationship here" required>
                                </div>

                                <div class="input-field">
                                    <label>Mobile Number</label>
                                    <input type="number" placeholder="Enter mobile number here" required>
                                </div>

                                <div class="input-field">
                                    <label>Email</label>
                                    <input type="email" placeholder="Enter email here" required>
                                </div>

                                <div class="input-field">
                                    <label>Gender</label>
                                    <select required>
                                        <option disabled selected>Select Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-add-btns">
                        <button class="save" onclick="infoOpenPopup()">
                            <span class="btnText">Save</span>
                            <i class="las la-check-square"></i>
                        </button>

                        <button class="cancel">
                            <span class="btnText" onclick="canOpenPopup()">Cancel</span>
                            <i class="las la-window-close"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="info-pop-container" id="info-popup">
            <img src="~/Content/images/information.png">
            <h2>System Warning!</h2>
            <p>Do you want to save the user on the list?</p>
            <button type="button" onclick="openPopup() + infoClosePopup()">Yes</button>
            <button type="button" onclick="infoClosePopup()">Cancel</button>
        </div>

        <div class="can-pop-container" id="can-popup">
            <img src="~/Content/images/warning.png">
            <h2>System Warning!</h2>
            <p>Are you sure you don't want to save user on the list?</p>
            <button type="button" onclick="remOpenPopup() + canClosePopup()">Yes</button>
            <button type="button" onclick="canClosePopup()">Cancel</button>
        </div>

        <div class="save-pop-container" id="popup">
            <img src="~/Content/images/tick.png">
            <h2>Added!</h2>
            <p>User details has been added successfully!</p>
            <button type="button" onclick="closePopup()">OK</button>
        </div>

        <div class="rem-pop-container" id="rem-popup">
            <img src="~/Content/images/remove.png">
            <h2>Cancel!</h2>
            <p>User details has not added in the list!</p>
            <button type="button" onclick="remClosePopup()">OK</button>
        </div>

    </main>
    @*<script>
                const wrapper = document.querySelector(".wrapper");
                 const fileName = document.querySelector(".image-file-name label");
                 const defaultBtn = document.querySelector("#default-btn");
                 const customBtn = document.querySelector("#custom-btn");
                 const cancelBtn = document.querySelector("#img-cancel-btn span");
                 const img = document.querySelector(".user-pic");
                 let regExp = '/[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/';
                 function defaultBtnActive(){
                   defaultBtn.click();
                 }
                 defaultBtn.addEventListener("change", function(){
                   const file = this.files[0];
                   if(file){
                     const reader = new FileReader();
                     reader.onload = function(){
                       const result = reader.result;
                       img.src = result;
                       wrapper.classList.add("img-active");
                     }
                     cancelBtn.addEventListener("click", function(){
                       img.src = "";
                       wrapper.classList.remove("img-active");
                     })
                     reader.readAsDataURL(file);
                   }
                   if(this.value){
                     let valueStore = this.value.match(regExp);
                     fileName.textContent = valueStore;
                   }
                 });

                let infopopup = document.getElementById("info-popup");

                function infoOpenPopup() {
                    infopopup.classList.add("info-popup-show")
                }

                function infoClosePopup() {
                    infopopup.classList.remove("info-popup-show")
                }

                let popup = document.getElementById("popup");

                function openPopup() {
                    popup.classList.add("open-popup-show")
                }

                function closePopup() {
                    popup.classList.remove("open-popup-show")
                }

                let canpopup = document.getElementById("can-popup");

                function canOpenPopup() {
                    canpopup.classList.add("can-popup-show")
                }

                function canClosePopup() {
                    canpopup.classList.remove("can-popup-show")
                }

                let rempopup = document.getElementById("rem-popup");

                function remOpenPopup() {
                    rempopup.classList.add("rem-popup-show")
                }

                function remClosePopup() {
                    rempopup.classList.remove("rem-popup-show")
                }
        </script>*@
    @Scripts.Render("~/script/addusers")
