@using TotalFireSafety.Models
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/AdminLayout.cshtml";
    ViewBag.Dash = "active";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Overview
        </h2>
        <right>
            <button class="create-req-btn" title="CREATE ORDER">
                <a onclick="openForm()">
                    Notification
                    <span class="las la-bell"></span>
                    <label class="notif-badge" id="badge">0</label>
                </a>
            </button>
        </right>
    </header>

    <main>


        <div class="cards">
            <div class="card-title">
                <a href="@Url.Action("Users","Admin")">
                    <h3>Users</h3>
                    <div class="card-single">
                        <div class="card-container">
                            <h3>Users</h3>
                            <div class="card-details">
                                <label  id="userLabel"></label><span>Total Users</span>
                                <p></p>
                                <label class="card-active" id="actLabel"></label><span class="card-active">Active Users</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-title">
                <a href="@Url.Action("Requisition","Admin")">
                    <h3>Purchase</h3>
                    <div class="card-single">
                        <div class="card-container">
                            <h3>Purchase Request</h3>
                            <div class="card-details">
                                <label  id="purLabel"></label><span>Total Entries</span>
                                <p></p>
                                <label class="card-active" id="actpurLabel"></label><span class="card-active">New Entries</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-title">
                <a href="@Url.Action("Requisition","Admin")">
                    <h3>Deploy</h3>
                    <div class="card-single">
                        <div class="card-container">
                            <h3>Deployment Request</h3>
                            <div class="card-details">
                                <label id="depLabel"></label><span>Total Entries</span>
                                <p></p>
                                <label class="card-active" id="actdepLabel"></label><span class="card-active">New Entries</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="card-title">
                <a href="@Url.Action("Requisition","Admin")">
                    <h3>Supply</h3>
                    <div class="card-single">
                        <div class="card-container">
                            <h3>Supply Request</h3>
                            <div class="card-details">
                                <label  id="supLabel"></label><span>Total Entries</span>
                                <p></p>
                                <label class="card-active" id="actsupLabel"></label><span class="card-active">New Entries</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            @*<div class="card-title">
                <a href="../super-admin/operations/requisition/sa-deploy_requi.html">
                    <h3>Supply</h3>
                    <div class="card-sPurchingle">
                        <div class="card-container">
                            <h3>Supply Request</h3>
                            <div class="card-details">
                                <label>30</label><span>Total Entries</span>
                                <p></p>
                                <label class="card-active">5</label><span class="card-active">New Entries</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>*@

        </div>

        <!-- NEW UPDATE 03/04/23 - DATE CONTAINER IN DASHBOARD -->

        <div class="dashboard-date-container">
            <div class="btn-container">
                <center>
                    <button class="select-date" onclick="openInputQTYForm()"><i class="las la-calendar-week"></i> <label for=""> April 04, 2023 - April 04, 2023 </label><i class="las la-caret-down"></i></button>
                    <button class="active">Today</button>
                    <button>Yesterday</button>
                    <button>Last 7 Days</button>
                    <button>Last 30 Days</button>
                    <button>Last Quarter</button>
                    <button>Last Year</button>
                </center>
            </div>
        </div>

        <div class="input-date-popup" id="input-date-popup">
            <h3>INPUT DATE RANGE</h3>
            <br>
            <label for="">From:</label><input type="date">
            &nbsp;
            <label for=""> to: </label><input type="date">

            <br>
            <br>
            <br>
            <button class="confirm">Confirm</button>
            <button onclick="closeInputQTYForm()">Cancel</button>
        </div>

        <!-- END -->
 

        <div class="recent-grid">
            <div class="inventory-sum">
                <div class="card">
                    <div class="card-header">
                        <h3>Item Summary</h3>

                        <div class="cat-grp">
                            <select id="selclass" title="Select Class">
                                <option disabled selected>Class</option>
                                <option>All</option>
                            </select>

                            <select id="seltype" title="Select Type">
                                <option disabled selected>Type</option>
                                <option>All</option>
                            </select>

                            <select id="selcat" title="Select Category">
                                <option disabled selected>Category</option>
                                <option>All</option>
                            </select>
                        </div>

                    </div>
                    <div class="chart-border">
                        <div class="chart">
                            <canvas id="barchart" width="300" height="300"></canvas>

                        </div>
                    </div>

                    <div class="card-headers">
                        <a href="../super-admin/operations/sa-inventory/sa-inventory.html"><button> See more <span class="las la-arrow-right"></span></button></a>

                        <div class="legend-grp">
                            <div class="legend-content">
                                <h3>Legend: </h3>
                                <div class="legend-content-1">
                                    <div class="legend-color">

                                    </div>
                                    <label> Standard </label>
                                </div>

                                <div class="legend-content-2">
                                    <div class="legend-color">

                                    </div>
                                    <label> Average </label>
                                </div>

                                <div class="legend-content-3">
                                    <div class="legend-color">

                                    </div>
                                    <label> Critical </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="inventory-sum">
                <div class="card">
                    <div class="card-header">
                        <h3>Item Supplies</h3>

                        <div class="fst-grp">
                            <select required>
                                <option disabled selected>Choose</option>
                                <option>...</option>
                                <option>..</option>
                            </select>
                            <select required>
                                <option disabled selected>Choose</option>
                                <option>...</option>
                                <option>..</option>
                            </select>
                        </div>

                        <div class="project-sum-btns">

                        </div>

                    </div>

                    <div class="chart-borders">
                        <div class="chart">
                            <div class="scatter">
                                <canvas id="barcharthori" width="auto" height="auto"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-headers">
                        <div class="fst-legend-content">
                            <div class="fst-content-1">

                            </div>
                            <label> Quantity </label>
                        </div>

                        <label class="fst-date">03/08/2023 - 03/08/2023</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Summary -->

        <div class="dsh-proj-grid">
            <div class="dsh-proj-sum">
                <div class="dsh-proj">
                    <div class="dsh-proj-header">
                        <h3>On-going Projects</h3>

                        <div class="dsh-proj-grp">
                            <select required>
                                <option disabled selected>Project Lead</option>
                                <option>Juan Dela Cruz</option>
                            </select>
                        </div>

                    </div>
                    <div class="chart-border">
                        <div class="chart">
                            <canvas id="barcharthorii" width="300" height="300"></canvas>

                        </div>
                    </div>

                    <div class="card-headers">
                    </div>

                </div>
            </div>

            <div class="dsh-proj-sum">
                <div class="dsh-proj">
                    <div class="dsh-proj-header">
                        <h3>Project Insights</h3>

                        <div class="date">
                            <h3>Year</h3>
                            <select required>
                                <option disabled selected></option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                            </select>
                        </div>
                    </div>

                    <div class="chart-borders">
                        <div class="chart">
                            <div class="scatter">
                                <div class="proj-insight-container">

                                    <div class="proj-row">
                                        <div class="proj-column-left">
                                            <h3>10</h3>
                                            <label>Unread <br> Reports</label>
                                        </div>
                                        <div class="proj-column-right">
                                            <h3>5</h3>
                                            <label>Total Upcoming <br> Projects</label>
                                        </div>
                                    </div>
                                    <div class="proj-row">
                                        <div class="proj-column-left mid-left">
                                            <h3>28</h3>
                                            <label>Finished <br> Projects</label>
                                        </div>
                                        <div class="proj-column-right mid-right">
                                            <h3>7</h3>
                                            <label>Cancelled<br> Projects</label>
                                        </div>
                                    </div>
                                    <div class="proj-row">
                                        <div class="proj-column-left title">
                                            <h3>50</h3>
                                            <label>Total <br> Projects</label>
                                        </div>
                                        <div class="proj-column-right per">
                                            <h3 class="Up">90%</h3>
                                            <label>Project Performance</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-headers">

                    </div>
                </div>
            </div>
        </div>
        <!-- END -->
    </main>
</div>
<script src="~/Scripts/js/chart1.js"></script>
<script src="~/Scripts/js/chart2.js"></script>
<script src="~/Scripts/js/chart3.js"></script>
<script src="~/Scripts/Dashboard.js"></script>
<script>

    function OnLoad() {
        GetAll();
        GetItems();
    }

    `use strict`;
    //function refreshTime() {
    //    const timeDisplay = document.getElementById("dt");
    //    const dateString = new Date().toLocaleString();
    //    const formattedString = dateString.replace(", ", " - ");
    //    timeDisplay.textContent = formattedString;
    //}
    //setInterval(refreshTime, 0);


    var dropdown = document.getElementsByClassName("oper-dropdown-bt");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }

    /* When the user clicks on the button,
       toggle between hiding and showing the dropdown content */
    function yrFunction() {
        document.getElementById("yrDropdown").classList.toggle("yr-show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.yr-drop-btn')) {
            var myDropdown = document.getElementById("yrDropdown");
            if (myDropdown.classList.contains('yr-show')) {
                myDropdown.classList.remove('yr-show');
            }
        }
    }

    /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */
    function mFunction() {
        document.getElementById("mDropdown").classList.toggle("m-show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.m-drop-btn')) {
            var myDropdown = document.getElementById("mDropdown");
            if (myDropdown.classList.contains('m-show')) {
                myDropdown.classList.remove('m-show');
            }
        }
    }

    /* When the user clicks on the button,
       toggle between hiding and showing the dropdown content */
    function dFunction() {
        document.getElementById("dDropdown").classList.toggle("d-show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.d-drop-btn')) {
            var myDropdown = document.getElementById("dDropdown");
            if (myDropdown.classList.contains('d-show')) {
                myDropdown.classList.remove('d-show');
            }
        }
    }

    // NEW UPDATE 03/04/23 - DATE CONTAINER IN DASHBOARD

    function openInputQTYForm() {
        document.getElementById("input-date-popup").style.display = "block";
    }

    function closeInputQTYForm() {
        document.getElementById("input-date-popup").style.display = "none";
    }


    //window.addEventListener("load", function () {
    //    setTimeout(
    //        function open(event) {
    //            document.querySelector('input-date-popup').style.display = "block";
    //        },
    //        1000
    //    )
    //});
</script>
