
@{
    ViewBag.Title = "InvArchive";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Archive Item Lists
        </h2>
    </header>

    <main>

        <div class="upper-section">
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="text" placeholder="Search here">
            </div>
            &nbsp;
            <div class="drp-wrapper">
                <select required>
                    <option disabled selected>Select Category</option>
                    <option>Fittings</option>
                    <option>Gate Valves</option>
                    <option>Power Tools</option>
                    <option>Fire Extinguisher</option>
                    <option>Scaffolding</option>
                    <option>Others</option>
                </select>
            </div>

        </div>

        <div class="inventory-grid">
            <div class="inventory-header">
                <h3>ARCHIVE ITEMS</h3>
                <br>
            </div>
            <div class="inventory-projects">
                <div class="inventory">
                    <div class="inventory-body">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>ID</td>
                                        <td>Name</td>
                                        <td>Category</td>
                                        <td>Type</td>
                                        <td>Size</td>
                                        <td>Quantity</td>
                                        <td>Class</td>
                                        <td>Date Added</td>
                                        <td>Date Archived</td>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label>00001</label></td>
                                        <td><label>Clarisse C. Vaquez</label></td>
                                        <td><label>Supervisor</label></td>
                                        <td><label>0923758923</label></td>
                                        <td><label>12341241</label></td>
                                        <td><label>1432143</label></td>
                                        <td><label>Imported</label></td>
                                        <td><label>00/00/00</label></td>
                                        <td><label>00/00/00</label></td>
                                    </tr>

                                    <tr>
                                        <td><label>00001</label></td>
                                        <td><label>Clarisse C. Vaquez</label></td>
                                        <td><label>Supervisor</label></td>
                                        <td><label>0923758923</label></td>
                                        <td><label>45674567474</label></td>
                                        <td><label>123421345423</label></td>
                                        <td><label>Local</label></td>
                                        <td><label>00/00/00</label></td>
                                        <td><label>00/00/00</label></td>
                                    </tr>
                                    <tr>
                                        <td><label>00001</label></td>
                                        <td><label>Clarisse C. Vaquez</label></td>
                                        <td><label>Supervisor</label></td>
                                        <td><label>0923758923</label></td>
                                        <td><label>45674567474</label></td>
                                        <td><label>123421345423</label></td>
                                        <td><label>Local</label></td>
                                        <td><label>00/00/00</label></td>
                                        <td><label>00/00/00</label></td>
                                    </tr>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="info-pop-container" id="info-popup">
            <img src="../../../images/information.png">
            <h2>System Warning!</h2>
            <p>Do you want to save the user on the list?</p>
            <button type="button" onclick="openPopup() + infoClosePopup()">Yes</button>
            <button type="button" onclick="infoClosePopup()">Cancel</button>
        </div>

        <div class="can-pop-container" id="can-popup">
            <img src="../../../images/warning.png">
            <h2>System Warning!</h2>
            <p>Are you sure you want to delete item on the list?</p>
            <button type="button" onclick="remOpenPopup() + canClosePopup()">Yes</button>
            <button type="button" onclick="canClosePopup()">Cancel</button>
        </div>

        <div class="save-pop-container" id="popup">
            <img src="../../../images/tick.png">
            <h2>Added!</h2>
            <p>User details has been added successfully!</p>
            <button type="button" onclick="closePopup()">OK</button>
        </div>

        <div class="rem-pop-container" id="rem-popup">
            <img src="../../../images/remove.png">
            <h2>Deleted!</h2>
            <p>Item details has deleted in the list!</p>
            <button type="button" onclick="remClosePopup()">OK</button>
        </div>

        <div class="print-pop-container" id="print-popup">
            <img src="../../../images/printer.png">
            <h2>Print!</h2>
            <p>Print successfully!</p>
            <button type="button" onclick="printClosePopup()">OK</button>
        </div>

        <div class="expo-pop-container" id="expo-popup">
            <img src="../../../images/export.png">
            <h2>Export!</h2>
            <p>Exported Successfully!</p>
            <button type="button" onclick="expoClosePopup()">OK</button>
        </div>
    </main>

    <div class="footer">
        <center>
            <div class="footer-con">
                <img src="../../../images/codepheuse.png" alt="">
                <h4>CodePheus | 2022</h4>
            </div>
        </center>
    </div>

    <script>


            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(e) {
              if (!e.target.matches('.drop-btn')) {
              var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                  myDropdown.classList.remove('show');
                }
              }
            }

            function userSortFunction() {
              document.getElementById("invSortDropdown").classList.toggle("inventory-sort-show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(e) {
              if (!e.target.matches('.inventory-sort-btn')) {
              var myDropdown = document.getElementById("invSortDropdown");
                if (myDropdown.classList.contains('inventory-sort-show')) {
                  myDropdown.classList.remove('inventory-sort-show');
                }
              }
            }

        <!-- Messege Box -->

        let addpopupinv = document.getElementById("add-popup-inv");
        function addOpenPopupInv() {
            addpopupinv.classList.add("add-popup-inv-show")
        }

        function addClosePopupInv() {
            addpopupinv.classList.remove("add-popup-inv-show")
        }

        let archpopup = document.getElementById("arch-popup");
        function OpenArchPopup() {
            archpopup.classList.add("arch-popup-show")
        }

        function CloseArchPopup() {
            archpopup.classList.remove("arch-popup-show")
        }

        let canpopup = document.getElementById("can-popup");
        function canOpenPopup() {
            canpopup.classList.add("can-popup-show")
        }

        function canClosePopup() {
            canpopup.classList.remove("can-popup-show")
        }

        let infopopup = document.getElementById("info-popup");
        function infoOpenPopup() {
            infopopup.classList.add("info-popup-show")
        }

        function infoClosePopup() {
            infopopup.classList.remove("info-popup-show")
        }

        let popup = document.getElementById("popup");
        function openPopup() {
            popup.classList.add("open-popup-show")
        }

        function closePopup() {
            popup.classList.remove("open-popup-show")
        }

        let rempopup = document.getElementById("rem-popup");
        function remOpenPopup() {
            rempopup.classList.add("rem-popup-show")
        }

        function remClosePopup() {
            rempopup.classList.remove("rem-popup-show")
        }

        let printpopup = document.getElementById("print-popup");
        function printOpenPopup() {
            printpopup.classList.add("print-popup-show")
        }

        function printClosePopup() {
            printpopup.classList.remove("print-popup-show")
        }

        let expopopup = document.getElementById("expo-popup");
        function expoOpenPopup() {
            expopopup.classList.add("expo-popup-show")
        }

        function expoClosePopup() {
            expopopup.classList.remove("expo-popup-show")
        }



    </script>

