@using TotalFireSafety.Models
@model Inventory
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/AdminLayout.cshtml";
    ViewBag.Inv = "active";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Inventories
        </h2>
    </header>

    <main>

        <div class="upper-section">
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="text" placeholder="Search here" onkeyup="SearchItem(this.value)">
            </div>
            &nbsp;
            <select id="selcat" onchange="SortByCategory(this.value)">
                <option disabled selected>Select Category</option>
                <option>Fittings</option>
                <option>Gate Valves</option>
                <option>Power Tools</option>
                <option>Fire Extinguisher</option>
                <option>Scaffolding</option>
                <option>Others</option>
                <option>Clear</option>
            </select>
        </div>

        <div class="inventory-grid">
            <div class="inventory-header" id="tableTitle">
                <h3>INVENTORY ITEMS</h3>
                <div class="inventory-buttons-style" id="hideBtn">
                    @*<button class="add-btn" title="ADD NEW ITEM"><a href="@Url.Action("AddItem","Admin")"><span class="las la-plus-circle"></span></a></button>*@
                    <button class="add-btn" title="ADD NEW ITEM" onclick="addOpenPopupInv()"><a><span class="las la-plus-circle"></span></a></button>
                    <button class="pri-btn" title="PRINT REPORT" id="printBtn" @*onclick="printOpenPopup()"*@> <a href="#"><span class="las la-print"></span></a></button>
                    <button class="expo-btn" title="EXPORT REPORT" onclick="expoOpenPopup() + exportTable()"> <a href="#"><span class="las la-file-download"></span></a></button>
                    <button class="inventory-sort-btn" onclick="userSortFunction()">
                        <a>
                            <span></span>
                            <span class="las la-chevron-down"></span>
                        </a>
                    </button>
                    <div class="inventory-sort-content" id="invSortDropdown">
                        <a href="#" onclick="Ascend()">Ascending</a>
                        <a href="#" onclick="Descend()">Descending</a>
                    </div>

                </div>

            </div>

            <div class="add-popup-inv" id="add-popup-inv">
                <div class="inventory-add-container">
                    <div class="inventory-form-container">
                        <form action="@Url.Action("AddItem","Admin")" id="addForm" method="post">
                            <div class="details personal">
                                <div class="inventory-form-header">
                                    ITEM DETAILS
                                </div>
                                <div class="inventory-form-contents">
                                    <div class="fields">
                                        <div class="input-field">
                                            <label>Item ID</label>
                                            <input type="text" id="itemCode" placeholder="ABC-DEF-GHI">
                                        </div>

                                        <div class="input-field">
                                            <label>Item Name</label>
                                            <input type="text" placeholder="Item Name" id="itemName" readonly>
                                        </div>

                                        <div class="input-field">
                                            <label>Category</label>
                                            <select id="cat-select" readonly>
                                                <option disabled selected>Select Category</option>
                                                <option value="Fittings">Fittings</option>
                                                <option value="Gate Valves">Gate Valves</option>
                                                <option value="Power Tools">Power Tools</option>
                                                <option value="Fire Extinguisher">Fire Extinguisher</option>
                                                <option value="Scaffolding">Scaffolding</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </div>

                                        <div class="input-field">
                                            <label>Type</label>
                                            <select id="type-select" readonly>
                                                <option disabled selected>Select Type</option>
                                                <option value="HFC-236 F">HFC-236 F</option>
                                                <option value="Machine">Machine</option>
                                            </select>
                                        </div>

                                        <div class="input-field">
                                            <label>Size</label>
                                            <div class="input-field-size">
                                                <input type="text" placeholder="00000" id="itemSize" readonly>
                                                <select required>
                                                    <option disabled selected>Measurement</option>
                                                    <option>INCH</option>
                                                    <option>CM</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            <label>Quantity</label>
                                            <div class="input-field-quantity">
                                                <input type="text" placeholder="00000" id="itemQuant">
                                                <select required readonly>
                                                    <option disabled selected>Measurement</option>
                                                    <option>PC/S</option>
                                                    <option>SET</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <center>
                                <div class="form-add-btns">
                                    <button class="save" id="saveBtn" onclick="infoOpenPopup()">
                                        <span class="btnText">Save</span>
                                        <i class="las la-check-square"></i>
                                    </button>

                                    <button class="cancel">
                                        <span class="btnText" id="cancelBtn" onclick="addClosePopupInv()">Cancel</span>
                                        <i class="las la-window-close"></i>
                                    </button>
                                </div>
                            </center>
                        </form>
                    </div>
                </div>
            </div>

            @*<form action="/Admin/DeleteItem?item=${array[i].in_code}" method="post" id="tableList" style="display:none">
                <input type="text" id="firstName">
            </form>*@

            <div class="inventory-projects" id="printTable">
                <div class="inventory">
                    <div class="inventory-body">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <table width="100%" id="myTable">
                                <thead>
                                    <tr>
                                        <td>Code</td>
                                        <td>Name</td>
                                        <td>Category</td>
                                        <td>Type</td>
                                        <td>Size</td>
                                        <td>Quantity</td>
                                        <td id="hideAction">Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-pop-container" id="info-popup">
            <img src="~/images/information.png">
            <h2>System Warning!</h2>
            <p>Do you want to save the item on the list?</p>
            <button type="submit" form="addForm">Yes</button>
            <button type="button" onclick="infoClosePopup()">Cancel</button>
        </div>

        <div class="can-pop-container" id="can-popup">
            <img src="~/images/warning.png">
            <h2>System Warning!</h2>
            <p>Are you sure you want to delete item on the list?</p>
            <button type="button" onclick="DeleteItem()">Yes</button>
            <button type="button" onclick="canClosePopup()">Cancel</button>
        </div>

            <div class="rem-pop-container" id="rem-popup">
                <img src="~/images/remove.png">
                <h2>Deleted!</h2>
                <p>Item details has deleted in the list!</p>
                <button type="button" onclick="remClosePopup()">OK</button>
            </div>

            <div class="save-pop-container" id="popup">
                <img src="~/images/tick.png">
                <h2>Saved!</h2>
                <p>Item has saved successfully!</p>
                <button type="button" onclick="closePopup()">OK</button>
            </div>
            <div class="print-pop-container" id="print-popup">
                <img src="~/images/printer.png">
                <h2>Print!</h2>
                <p>Print successfully!</p>
                <button type="button" onclick="printClosePopup()">OK</button>
            </div>

            <div class="expo-pop-container" id="expo-popup">
                <img src="~/images/export.png">
                <h2>Export!</h2>
                <p>Exported Successfully!</p>
                <button type="button" onclick="expoClosePopup()">OK</button>
            </div>

        </main>
    <script src="~/Scripts/Inventory.js"></script>
    <script>

        /* When the user clicks on the button,
        toggle between hiding and showing the dropdown content */

        window.onload = function () {
            let removed = localStorage.getItem("removed");

            if (removed != null) {
                rempopup.classList.add("rem-popup-show");
                localStorage.clear();
            }
            GetAll();
        }

        //document.querySelector("button").addEventListener("click", function () {
        //        let value = this.getAttribute("data-code");
        //        localStorage.setItem("dataValue", value);
        //    canpopup.classList.add("can-popup-show");
        //    console.log(value);
        //});

        function openEdit(value) {
            addpopupinv.classList.add("add-popup-inv-show");

            let code = document.querySelector('#itemCode');
            let name = document.querySelector('#itemName');
            let size = document.querySelector('#itemSize');
            let quantity = document.querySelector('#itemQuant');
            let cat = document.getElementById("cat-select");
            let type = document.getElementById("type-select");

            code.removeAttribute("readonly");
            name.removeAttribute("readonly");
            size.removeAttribute("readonly");
            quantity.removeAttribute("readonly");
            cat.removeAttribute("readonly");
            type.removeAttribute("readonly");

            setField(value);
        }

        document.getElementById("saveBtn").addEventListener("click", function () {
            event.preventDefault();
        });

        document.getElementById("cancelBtn").addEventListener("click", function () {
            event.preventDefault();
        });

        document.getElementById("printBtn").addEventListener("click", function () {
            window.print();
        });

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function exportTable() {
            exportArrayToCsv();
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.drop-btn')) {
                var myDropdown = document.getElementById("myDropdown");
                if (myDropdown.classList.contains('show')) {
                    myDropdown.classList.remove('show');

                }
            }
        }

        function userSortFunction() {
            document.getElementById("invSortDropdown").classList.toggle("inventory-sort-show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.inventory-sort-btn')) {
                var myDropdown = document.getElementById("invSortDropdown");
                if (myDropdown.classList.contains('inventory-sort-show')) {
                    myDropdown.classList.remove('inventory-sort-show');
                }
            }
        }
            //Messege Box

        let addpopupinv = document.getElementById("add-popup-inv");
        function addOpenPopupInv() {
            addpopupinv.classList.add("add-popup-inv-show")
        }

        function addClosePopupInv() {
            addpopupinv.classList.remove("add-popup-inv-show")
        }


        let canpopup = document.getElementById("can-popup");

        function canOpenPopup(value) {
            canpopup.classList.add("can-popup-show");
            localStorage.setItem("codeToDelete", value);
        }

        function canClosePopup() {
            canpopup.classList.remove("can-popup-show")
        }

        let rempopup = document.getElementById("rem-popup");

        function remOpenPopup() {
            rempopup.classList.add("rem-popup-show")
        }

        function remClosePopup() {
            rempopup.classList.remove("rem-popup-show")
        }

        let printpopup = document.getElementById("print-popup");

        function printOpenPopup() {
            printpopup.classList.add("print-popup-show")
        }

        function printClosePopup() {
            printpopup.classList.remove("print-popup-show")
        }

        let expopopup = document.getElementById("expo-popup");

        function expoOpenPopup() {
            expopopup.classList.add("expo-popup-show")
        }

        function expoClosePopup() {
            expopopup.classList.remove("expo-popup-show")
        }

    </script>
