@using TotalFireSafety.Models

@{
    ViewBag.Title = "Inventory Report";
    Layout = "~/Views/AdminLayout.cshtml";
    ViewBag.Report = "active";
}

<div class="main-content">


    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Inventory Reports
        </h2>
    </header>
    <main>
        <div class="upper-section">
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="text" placeholder="Search here" onkeyup="SearchItem(this.value)">
            </div>
            &nbsp;
            <div class="drp-wrapper">
                <select id="selcat" ">
                    <option disabled selected>Select Category</option>
                    <option value="Fittings">Fittings</option>
                    <option value="Gate Valves">Gate Valves</option>
                    <option value="Power Tools">Power Tools</option>
                    <option value="Fire Extinguisher">Fire Extinguisher</option>
                    <option value="Scaffolding">Scaffolding</option>
                    <option value="Others">Others</option>
                    <option value="">Clear</option>
                </select>

            </div>

            <div class="datepick-container">
                <span class="lar la-calendar"></span>

                <div class="date-grp">
                    <input type="date" id="startDate">
                    <label for=""> - </label>
                    <input type="date" id="endDate">
                </div>

            </div>
        </div>


        <div class="inventory-repo-grid">
            <div class="inventory-repo-header">
                <h3>INVENTORY REPORT</h3>
                <div class="inventory-repo-buttons-style">



                    <button class="expo-btn" title="EXPORT">
                        <a href="@Url.Action("InvReportExport", "Admin", new { id = ViewBag.EmpId })" target="_blank">
                            EXPORT
                            <span class="las la-file-download"></span>
                        </a>
                    </button>

                </div>

            </div>
            <div class="inventory-repo-projects">
                <div class="inventory-repo">
                    <div class="inventory-repo-body">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <table width="100%" id="myTable" class="myTable">
                                <thead>
                                    <tr>
                                        <td>Date</td>
                                        <td><a onclick="sortTableByColumnName('update_item_id')">Code<i class="las la-sort-down"></i></a></td>
                                        <td><a onclick="sortTableByColumnName('inventory.in_name')">Name<i class="las la-sort-down"></i></a></td>
                                        <td>Category</td>
                                        <td>Type</td>
                                        <td>Size</td>
                                        <td>Quantity</td>
                                        <td>Remarks</td>
                                        <td><a onclick="sortTableByColumnName('inventory.in_class')">Class<i class="las la-sort-down"></i></a></td>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
<script src="@Url.Content("~/Scripts/reportinventory.js")"></script>

<script>
    const today = new Date().toISOString().split('T')[0];

    // Set the max attribute of the startDate input to today
    document.getElementById("startDate").max = today;

    // Set the max attribute of the endDate input to today
    document.getElementById("endDate").max = today;
</script>

<script>
    window.onload = function () {
        GetAll();
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script>

    let codeToDelete = "";
    //window.onload = function () {
    function OnLoad() {
        let message = '@Session["added"]';
        let success = localStorage.getItem("removed");
        if (message !== '') {
            saveOpenPopup();
            @{
                Session["added"] = "";
            }
        }
        if (success == "success") {
            remOpenPopup();
            localStorage.setItem("removed", null);
        }
        GetAll();
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.drop-btn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');

            }
        }
    }

    function userSortFunction() {
        document.getElementById("invSortDropdown").classList.toggle("InventoryReport-sort-show");
    }

    let archpopup = document.getElementById("arch-popup");
    function OpenArchPopup() {
        archpopup.classList.add("arch-popup-show")
    }

    function CloseArchPopup() {
        archpopup.classList.remove("arch-popup-show")
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.InventoryReport-sort-btn')) {
            var myDropdown = document.getElementById("invSortDropdown");
            if (myDropdown.classList.contains('InventoryReport-sort-show')) {
                myDropdown.classList.remove('InventoryReport-sort-show');
            }
        }
    }
    //Messege Box

</script>
