
@{
    ViewBag.Title = "PinnedProjects";
    Layout = "~/Views/AdminLayout.cshtml";
    ViewBag.Proj = "active";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Projects
        </h2>
    </header>
    <main>

        <div class="upper-section">
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="text" placeholder="Search here">
            </div>
            &nbsp;
        </div>

        <div class="proj-grid">
            <div class="proj-header">
                <h3>PINNED PROJECTS</h3>
                <br>

            </div>
            <div class="proj-projects">
                <div class="proj">
                    <div class="proj-body">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td> </td>
                                        <td>Project Name</td>
                                        <td>Project Lead</td>
                                        <td>Start Date</td>
                                        <td>Baseline Finish</td>
                                        <td>Status</td>
                                        <td>Progress</td>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td><i class="las la-thumbtack"></i></td>
                                        <td><a href="../projects/sa-add-proj.html">Makati Global</a></td>
                                        <td>Jewell Mayrena</td>
                                        <td>Feb 27, 2023</td>
                                        <td>April 17, 2023</td>
                                        <td><label class="stat-pen">Upcoming</label>
                                        <td>
                                            <div class="progress-bar">
                                                <div class="progress-upcoming">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><i class="las la-thumbtack"></i></td>
                                        <td><a href="../projects/sa-add-proj.html">Golden Disk</a></td>
                                        <td>Carlo Millonte</td>
                                        <td>Jan 27, 2023</td>
                                        <td>April 17, 2023</td>
                                        <td><label class="stat-appr">On-Going</label></td>
                                        <td>
                                            <div class="progress-bar">
                                                <div class="progress-halfhalf">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><i class="las la-thumbtack"></i></td>
                                        <td><a href="../projects/sa-add-proj.html">Jollibee South Branch</a></td>
                                        <td>Clark Steven Arcilla</td>
                                        <td>Feb 23, 2023</td>
                                        <td>April 17, 2023</td>
                                        <td><label class="stat-dec">Cancelled</label></td>
                                        <td>
                                            <div class="progress-bar">
                                                <div class="progress-full">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADD NEW PROJECT - NEW LAYOUT - 04-05 -->

        <div class="add-new-container" id="add-new-container">
            <div class="add-new-header">
                <span class="las la-long-arrow-alt-left" onclick="closeAddNewContainer()"></span>
                <center>
                    <h3>NEW PROJECT <i class="las la-rocket"></i></h3>
                </center>

            </div>

            <div class="add-new-main">
                <div class="add-new-left">
                    <div class="input-fields">
                        <Label>Project Name</Label>
                        <br>
                        <input type="text" placeholder="Enter here..">
                    </div>
                    <div class="input-fields">
                        <Label>Subject</Label>
                        <br>
                        <input type="text" placeholder="Enter here..">
                    </div>
                    <div class="input-fields">
                        <Label>Client</Label>
                        <br>
                        <input type="text" placeholder="Enter here..">
                    </div>
                    <div class="input-fields">
                        <Label>Location Site</Label>
                        <br>
                        <input type="text" placeholder="Enter here..">
                    </div>
                    <div class="grp">
                        <div class="input-fields left">
                            <Label>Project Lead</Label>
                            <br>
                            <select required>
                                <option disabled selected>Select Lead</option>
                                <option>Vincent Cordero</option>
                            </select>
                        </div>
                        <div class="input-fields right">
                            <Label>Status</Label>
                            <br>
                            <select required>
                                <option>Select Status</option>
                                <option>On-going</option>
                                <option>In-going</option>
                                <option>delay</option>
                            </select>
                        </div>
                    </div>

                    <div class="grp">
                        <div class="input-fields left">
                            <Label>Start Date</Label>
                            <br>
                            <input type="date">
                        </div>
                        <div class="input-fields right">
                            <Label>Baseline Finish</Label>
                            <br>
                            <input type="date">
                        </div>
                    </div>

                    <a href="../projects/sa-add-proj.html"><button>CREATE PROJECT</button></a>

                </div>

                <div class="add-new-right">
                    <div class="add-new-header">
                        <h3>MANPOWER <a onclick="openInputMemForm()"><i class="las la-plus-circle"></i></a></h3>
                    </div>

                    <div class="add-new-power">
                        <div class="mems-list">
                            <div class="mems-grid">
                                <div class="mems-projects">
                                    <div class="mems">
                                        <div class="mems-body">
                                            <div class="table-responsive" style="overflow-x: auto;">
                                                <table width="100%">
                                                    <tbody>

                                                        <tr>
                                                            <td><b>Vincent M. Cordero</b></td>
                                                            <td>Person-in-charge</label></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>Vincent M. Cordero</b></td>
                                                            <td>Person-in-charge</label></td>
                                                        </tr>

                                                        <tr>
                                                            <td><b>Vincent M. Cordero</b></td>
                                                            <td>Person-in-charge</label></td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="input-mem-container" id="input-mem-container">
            <div class="input-mems-main">
                <div class="input-mems-title">
                    <h3>MANPOWER</h3>

                </div>
                <div class="input-mems-list">
                    <div class="input-mems-grid">
                        <div class="input-mems-projects">
                            <div class="input-mems">
                                <div class="input-mems-body">
                                    <div class="table-responsive" style="overflow-x: auto;">
                                        <table width="100%">
                                            <thead>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>Position</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td contenteditable="true"><b>Vincent M. Cordero</b></td>
                                                    <td contenteditable="true">Person-in-charge</label></td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                    <button onclick="closeInputMemForm()">Save</button>
                    <button onclick="closeInputMemForm()">Cancel</button>
                </center>
            </div>
        </div>

        <!-- END -->

        <div class="can-pop-container" id="can-popup">
            <img src="../../images/warning.png">
            <h2>System Warning!</h2>
            <p>Do you want to remove the user on the list?</p>
            <button type="button" onclick="remOpenPopup() + canClosePopup()">Yes</button>
            <button type="button" onclick="canClosePopup()">Cancel</button>
        </div>

        <div class="rem-pop-container" id="rem-popup">
            <img src="../../images/remove.png">
            <h2>Deleted!</h2>
            <p>User removed in the list successfully!</p>
            <button type="button" onclick="remClosePopup()">OK</button>
        </div>

        <div class="list-pop-container" id="list-popup">
            <img src="../../../images/warning_yellow.png">
            <h2>System Warning!</h2>
            <p>Select list range first!</p>
            <button type="button" onclick="remOpenPopup() + canClosePopup()"><b>OK</b></button>
        </div>

        <div class="date-pop-container" id="date-popup">
            <img src="../../../images/warning_yellow.png">
            <h2>System Warning!</h2>
            <p>Select date range first!</p>
            <button type="button" onclick="remOpenPopup() + canClosePopup()"><b>OK</b></button>
        </div>

    </main>

    <div class="footer">
        <center>
            <div class="footer-con">
                <img src="../../images/codepheuse.png" alt="">
                <h4>CodePheus | 2022</h4>
            </div>
        </center>
    </div>

    <script>


        function userFiltFunction() {
            document.getElementById("userFiltDropdown").classList.toggle("user-filter-show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.user-filter-btn')) {
                var myDropdown = document.getElementById("userFiltDropdown");
                if (myDropdown.classList.contains('user-filter-show')) {
                    myDropdown.classList.remove('user-filter-show');
                }
            }
        }

        function userSortFunction() {
            document.getElementById("userSortDropdown").classList.toggle("user-sort-show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.user-sort-btn')) {
                var myDropdown = document.getElementById("userSortDropdown");
                if (myDropdown.classList.contains('user-sort-show')) {
                    myDropdown.classList.remove('user-sort-show');
                }
            }
        }

        let canpopup = document.getElementById("can-popup");

        function canOpenPopup() {
            canpopup.classList.add("can-popup-show")
        }

        function canClosePopup() {
            canpopup.classList.remove("can-popup-show")
        }

        let rempopup = document.getElementById("rem-popup");

        function remOpenPopup() {
            rempopup.classList.add("rem-popup-show")
        }

        function remClosePopup() {
            rempopup.classList.remove("rem-popup-show")
        }

        //NEW ADD

        let listpopup = document.getElementById("list-popup");

        function listOpenPopup() {
            listpopup.classList.add("list-popup-show")
        }

        function listClosePopup() {
            listpopup.classList.remove("list-popup-show")
        }

        let datepopup = document.getElementById("date-popup");

        function dateOpenPopup() {
            datepopup.classList.add("date-popup-show")
        }

        function dateClosePopup() {
            datepopup.classList.remove("date-popup-show")
        }

        //END

        function openAddNewContainer() {
            document.getElementById("add-new-container").style.display = "block";
        }

        function closeAddNewContainer() {
            document.getElementById("add-new-container").style.display = "none";
        }

        function openInputMemForm() {
            document.getElementById("input-mem-container").style.display = "block";
        }

        function closeInputMemForm() {
            document.getElementById("input-mem-container").style.display = "none";
        }

    </script>

