
@{
    ViewBag.Title = "Print Purchase";
    Layout = "~/Views/AdminLayout.cshtml";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Purchase Order / Print Document
        </h2>
    </header>

    <main>

        <div class="print-order-container">

            <div class="wrapper">
                <div class="invoice_wrapper">
                    <div class="header">
                        <div class="logo_invoice_wrap">
                            <div class="logo_sec">
                                <img src="~/Content/images/tfsti-logo-name.png" alt="code logo" style="width:80px;height:100px;">
                                <div class="title_wrap">
                                    <p class="title bold">TOTAL FIRESAFETY AND </p>
                                    <p class="title bold">TECHNOLOGIES INC.</p>

                                </div>
                            </div>

                            <div class="invoice_sec">

                                <p class="invoice bold">Purchase Order</p>

                                <p class="date">
                                    <span class="bold">Date</span>
                                    <span>16/Jan/2023</span>
                                </p>

                                <p class="date">
                                    <span class="bold">Supplier</span>
                                    <span>Supplier 1</span>
                                </p>

                                <p class="date">
                                    <span class="bold">Delivery</span>
                                    <span>30 Days</span>
                                </p>


                                <p class="invoice_no">
                                    <span class="bold">Order No.</span>
                                    <span>
                                        #
                                        3488
                                    </span>
                                </p>


                            </div>
                        </div>


                        <div class="bill_total_wrap">
                            <div class="bill_sec">
                                <b>Requestor Name:</b><span class="bold name"> Fernan Yuki</span>

                                <br>
                                <span>
                                    <b>Employee ID:</b> +111 222345667<br />
                                    <b>Role Position:</b>
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="body">
                        <div class="main_table">
                            <div class="table_header">
                                <div class="row">

                                    <div class="col col_no"></div>
                                    <div class="col col_des">ITEM DESCRIPTION</div>
                                    <div class="col col_price">SIZE</div>
                                    <div class="col col_qty">QTY</div>
                                    <div class="col col_total">ITEM TYPE</div>
                                </div>
                            </div>
                            <div class="table_body">
                                <div class="row">
                                    <div class="col col_no">

                                    </div>
                                    <div class="col col_des">
                                        <p class="bold">
                                            Gate Valve Flange Type
                                        </p>
                                        <p>Gate Valve</p>
                                    </div>
                                    <div class="col col_price">
                                        <p>4"</p>
                                    </div>
                                    <div class="col col_qty">
                                        <p>5 Pcs</p>
                                    </div>
                                    <div class="col col_total">
                                        <p>Null</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col_no">

                                    </div>
                                    <div class="col col_des">
                                        <p class="bold">B.I. PIPE</p>
                                        <p>Others</p>
                                    </div>
                                    <div class="col col_price">
                                        <p>1/2</p>
                                    </div>
                                    <div class="col col_qty">
                                        <p>4 len</p>
                                    </div>
                                    <div class="col col_total">
                                        <p>Null</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col col_no">

                                    </div>


                                    <div class="col col_des">
                                        <p class="bold">Fire Extinguisher</p>
                                        <p>Fire Extinguisher</p>
                                    </div>
                                    <div class="col col_price">
                                        <p>Null</p>
                                    </div>
                                    <div class="col col_qty">
                                        <p>11 Pcs</p>
                                    </div>
                                    <div class="col col_total">
                                        <p>HFC-236 F</p>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col col_no">

                                    </div>
                                    <div class="col col_des">
                                        <p class="bold">Fire Extinguisher</p>
                                        <p>Fire Extinguisher</p>
                                    </div>
                                    <div class="col col_price">
                                        <p>Null</p>
                                    </div>
                                    <div class="col col_qty">
                                        <p>11 Pcs</p>
                                    </div>
                                    <div class="col col_total">
                                        <p>HFC-236 F</p>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col col_no">

                                    </div>
                                    <div class="col col_des">
                                        <p class="bold">Fire Extinguisher</p>
                                        <p>Fire Extinguisher</p>
                                    </div>
                                    <div class="col col_price">
                                        <p>Null</p>
                                    </div>
                                    <div class="col col_qty">
                                        <p>11 Pcs</p>
                                    </div>
                                    <div class="col col_total">
                                        <p>HFC-236 F</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="paymethod_grandtotal_wrap">

                            <div class="paymethod_sec">
                                <p class="bold">Received By:</p>
                                <p>Signature over printed name.</p>
                            </div>

                            <div class="grandtotal_sec">

                                <br>
                                <br>
                                <br>
                                <br>

                                <p class="bold">Date:</p>

                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="print-order-footer">
                        <p>Thank you and Best Wishes</p>
                        <div class="terms">
                            <p class="tc bold">Terms & Coditions</p>
                            <p>Ang pogi mo Carlo Millonte sarap mo Carloooooooooooooooooo!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="print-order-save-btns">
            <button class="save" onclick="infoOpenPopup()">
                <span class="btnText">Print</span>
                <i class="las la-file-export"></i>
            </button>

            <button class="cancel">
                <span class="btnText" onclick="canOpenPopup()">Cancel</span>
                <i class="las la-window-close"></i>
            </button>
        </div>





        <div class="info-pop-container" id="info-popup">
            <img src="~/Content/images/information.png">
            <h2>System Warning!</h2>
            <p>Do you want to print this document?</p>
            <button type="button" onclick="openPopup() + infoClosePopup()">Yes</button>
            <button type="button" onclick="infoClosePopup()">Cancel</button>
        </div>

        <div class="can-pop-container" id="can-popup">
            <img src="~/Content/images/warning.png">
            <h2>System Warning!</h2>
            <p>Are you sure you don't want to print this document?</p>
            <button type="button" onclick="remOpenPopup() + canClosePopup()">Yes</button>
            <button type="button" onclick="canClosePopup()">Cancel</button>
        </div>

        <div class="save-pop-container" id="popup">
            <img src="~/Content/images/printer.png">
            <h2>Printed!</h2>
            <p>Your document is already printing!</p>
            <button type="button" onclick="closePopup()">OK</button>
        </div>

        <div class="rem-pop-container" id="rem-popup">
            <img src="~/Content/images/remove.png">
            <h2>Cancel!</h2>
            <p>Document didn't print!</p>
            <button type="button" onclick="remClosePopup()">OK</button>
        </div>


    </main>

    <div class="footer">
        <center>
            <div class="footer-con">
                <img src="~/Content/images/codepheuse.png" alt="">
                <h4>CodePheus | 2022</h4>
            </div>
        </center>
    </div>

</div>
<script>


        let infopopup = document.getElementById("info-popup");

        function infoOpenPopup() {
            infopopup.classList.add("info-popup-show")
        }

        function infoClosePopup() {
            infopopup.classList.remove("info-popup-show")
        }

        let popup = document.getElementById("popup");

        function openPopup() {
            popup.classList.add("open-popup-show")
        }

        function closePopup() {
            popup.classList.remove("open-popup-show")
        }

        let canpopup = document.getElementById("can-popup");

        function canOpenPopup() {
            canpopup.classList.add("can-popup-show")
        }

        function canClosePopup() {
            canpopup.classList.remove("can-popup-show")
        }

        let rempopup = document.getElementById("rem-popup");

        function remOpenPopup() {
            rempopup.classList.add("rem-popup-show")
        }

        function remClosePopup() {
            rempopup.classList.remove("rem-popup-show")
        }

        let printpopup = document.getElementById("print-popup");

        function printOpenPopup() {
            printpopup.classList.add("print-popup-show")
        }

        function printClosePopup() {
            printpopup.classList.remove("print-popup-show")
        }

        let expopopup = document.getElementById("expo-popup");

        function expoOpenPopup() {
            expopopup.classList.add("expo-popup-show")
        }

        function expoClosePopup() {
            expopopup.classList.remove("expo-popup-show")
        }
</script>

