
@{
    ViewBag.Title = "ProjectAdd";
    Layout = "~/Views/AdminLayout.cshtml";
}


<div class="details-grid-add">
    <div class="details-sum-add">
        <div class="details-add">
            <div class="details-header-add">
                <h3>Proejct UI (*remove this - title of the project)</h3>
            </div>

            <div class="det-desc-add">
                <h3>Description</h3>
                <button class="add-btn" title="Bold"><a><span class="las la-bold"></span></a></button>
                <button class="add-btn" title="Italic"><a><span class="las la-italic"></span></a></button>
                <button class="add-btn" title="Underline"><a><span class="las la-underline"></span></a></button>
            </div>

            <div class="details-content-add">
                <textarea name="" id="" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."></textarea>
            </div>
        </div>
    </div>

    <div class="details-sum-add">
        <div class="details-add">
            <div class="header-proj-lead-add">
                <img src="~/images/profile.png" alt="">
                <div class="det-txt-add">
                    <h3>Clarisse Vasquez</h3>
                    <label>Person-in-charge</label>
                </div>

            </div>


            <div class="details-date-content-add">
                <label>Start Date:</label><input type="date">
                <br>
                <br>
                <label>Target Finish Date:</label><input type="date">
                <br>
                <br>
                <label>No. of Days</label><input type="text">
                <br>
                <br>

            </div>
        </div>
        <div class="details-add">
            <div class="details-header-add">
                <h3>Laborer Team</h3>

            </div>
            <div class="details-content-add">
                <div class="details-team-body-add">
                    <div class="table-responsive" style="overflow-x: auto;">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td contenteditable="false">Ian Cenera</td>
                                </tr>
                                <tr>
                                    <td contenteditable="true"></td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="details-grid-add">
    <div class="details-sum-add">

        <div class="details-btn-add">
            <button title="Save Project">Save</button>
            <button title="Save Project">Cancel</i></button>
        </div>
    </div>


</div>

