
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/AdminLayout.cshtml";
    ViewBag.Proj = "active";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Employee
        </h2>
    </header>
    <main>

        <div class="upper-section">
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="text" placeholder="Search here">
            </div>
        </div>

        <div class="user-grid">
            <div class="user-header">
                <h3>EMPLOYEE LIST</h3>
                <div class="user-buttons-style">
                    <button class="add-btn" title="ADD NEW ITEM"><a href="../administration/sa-add-users.html"><label>Add User</label></a></button>
                    &nbsp;
                    <button class="user-filter-btn" onclick="userFiltFunction()">
                        <a>
                            <span>Filter</span>
                            <span class="las la-chevron-down"></span>
                        </a>
                    </button>
                    <div class="user-filter-content" id="userFiltDropdown">
                        <a href="#">Office Manager</a>
                        <a href="#">Warehouse Manager</a>
                        <a href="#">Supervisor</a>
                    </div>
                    &nbsp;
                    <button class="user-sort-btn" onclick="userSortFunction()">
                        <a>
                            <span>Sort</span>
                            <span class="las la-chevron-down"></span>
                        </a>
                    </button>
                    <div class="user-sort-content" id="userSortDropdown">
                        <a href="#">Ascending</a>
                        <a href="#">Descending</a>
                    </div>
                </div>
            </div>
            <div class="user-projects">
                <div class="users">
                    <div class="user-body">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>Image</td>
                                        <td>ID</td>
                                        <td>Name</td>
                                        <td>Mobile No.</td>
                                        <td>Role</td>
                                        <td>Status</td>
                                        <td>Action</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="~/images/profile.png" alt=""></td>
                                        <td><label>00001</label></td>
                                        <td><label>Clarisse C. Vaquez</label></td>
                                        <td><label>0923758923</label></td>
                                        <td><label>Supervisor</label></td>
                                        <td><label class="stat-act">Active</label></td>
                                        <td>
                                            <div class="user-action-style">
                                                <button class="edit-btn" title="EDIT SELECTED ITEM" onclick="openEditForm()"> <a href="#"><span class="lar la-edit"></span></a></button>
                                                <button class="del-btn" title="DELETE SELECTED ITEM" onclick="canOpenPopup()"> <a href="#"><span class="lar la-trash-alt"></span></a></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/images/profile.png" alt=""></td>
                                        <td><label>00001</label></td>
                                        <td><label>Clarisse C. Vaquez</label></td>
                                        <td><label>0923758923</label></td>
                                        <td><label>Supervisor</label></td>
                                        <td><label class="stat-in">Inactive</label></td>
                                        <td>
                                            <div class="user-action-style">
                                                <button class="edit-btn" title="EDIT SELECTED ITEM" onclick="openEditForm()"> <a href="#"><span class="lar la-edit"></span></a></button>
                                                <button class="del-btn" title="DELETE SELECTED ITEM" onclick="canOpenPopup()"> <a href="#"><span class="lar la-trash-alt"></span></a></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="~/images/profile.png" alt=""></td>
                                        <td><label>00001</label></td>
                                        <td><label>Clarisse C. Vaquez</label></td>
                                        <td><label>0923758923</label></td>
                                        <td><label>Supervisor</label></td>
                                        <td><label class="stat-act">Active</label></td>
                                        <td>
                                            <div class="user-action-style">
                                                <button class="edit-btn" title="EDIT SELECTED ITEM" onclick="openEditForm()"> <a href="#"><span class="lar la-edit"></span></a></button>
                                                <button class="del-btn" title="DELETE SELECTED ITEM" onclick="canOpenPopup()"> <a href="#"><span class="lar la-trash-alt"></span></a></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="can-pop-container" id="can-popup">
            <img src="~/images/warning.png">
            <h2>System Warning!</h2>
            <p>Do you want to remove the user on the list?</p>
            <button type="button" onclick="remOpenPopup() + canClosePopup()">Yes</button>
            <button type="button" onclick="canClosePopup()">Cancel</button>
        </div>

        <div class="rem-pop-container" id="rem-popup">
            <img src="~/images/remove.png">
            <h2>Deleted!</h2>
            <p>User removed in the list successfully!</p>
            <button type="button" onclick="remClosePopup()">OK</button>
        </div>

    </main>

    <script>
            function userFiltFunction() {
              document.getElementById("userFiltDropdown").classList.toggle("user-filter-show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(e) {
              if (!e.target.matches('.user-filter-btn')) {
              var myDropdown = document.getElementById("userFiltDropdown");
                if (myDropdown.classList.contains('user-filter-show')) {
                  myDropdown.classList.remove('user-filter-show');
                }
              }
            }

            function userSortFunction() {
              document.getElementById("userSortDropdown").classList.toggle("user-sort-show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(e) {
              if (!e.target.matches('.user-sort-btn')) {
              var myDropdown = document.getElementById("userSortDropdown");
                if (myDropdown.classList.contains('user-sort-show')) {
                  myDropdown.classList.remove('user-sort-show');
                }
              }
            }

        let canpopup = document.getElementById("can-popup");

        function canOpenPopup() {
            canpopup.classList.add("can-popup-show")
        }

        function canClosePopup() {
            canpopup.classList.remove("can-popup-show")
        }

        let rempopup = document.getElementById("rem-popup");

        function remOpenPopup() {
            rempopup.classList.add("rem-popup-show")
        }

        function remClosePopup() {
            rempopup.classList.remove("rem-popup-show")
        }

    </script>

