
@{
    ViewBag.Title = "ProjectAdd";
    Layout = "~/Views/AdminLayout.cshtml";
}


@*<div class="details-grid-add">
        <div class="details-sum-add">
            <div class="details-add">
                <div class="details-header-add">
                    <h3>Proejct UI (*remove this - title of the project)</h3>
                </div>

                <div class="det-desc-add">
                    <h3>Description</h3>
                    <button class="add-btn" title="Bold"><a><span class="las la-bold"></span></a></button>
                    <button class="add-btn" title="Italic"><a><span class="las la-italic"></span></a></button>
                    <button class="add-btn" title="Underline"><a><span class="las la-underline"></span></a></button>
                </div>

                <div class="details-content-add">
                    <textarea name="" id="" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."></textarea>
                </div>
            </div>
        </div>

        <div class="details-sum-add">
            <div class="details-add">
                <div class="header-proj-lead-add">
                    <img src="~/images/profile.png" alt="">
                    <div class="det-txt-add">
                        <h3>Clarisse Vasquez</h3>
                        <label>Person-in-charge</label>
                    </div>

                </div>


                <div class="details-date-content-add">
                    <label>Start Date:</label><input type="date">
                    <br>
                    <br>
                    <label>Target Finish Date:</label><input type="date">
                    <br>
                    <br>
                    <label>No. of Days</label><input type="text">
                    <br>
                    <br>

                </div>
            </div>
            <div class="details-add">
                <div class="details-header-add">
                    <h3>Laborer Team</h3>

                </div>
                <div class="details-content-add">
                    <div class="details-team-body-add">
                        <div class="table-responsive" style="overflow-x: auto;">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td contenteditable="false">Ian Cenera</td>
                                    </tr>
                                    <tr>
                                        <td contenteditable="true"></td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="details-grid-add">
        <div class="details-sum-add">

            <div class="details-btn-add">
                <button title="Save Project">Save</button>
                <button title="Save Project">Cancel</i></button>
            </div>
        </div>


    </div>*@

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Project Lists
        </h2>
    </header>
    <main>

        <div class="proj-main-content">
            <div class="proj-back-container">
                <a href="~/Admin/Projects.html"><span class="las la-long-arrow-alt-left"></span> VIEW PROJECT</a>
            </div>

            <div class="proj-main-container">
                <div class="proj-task-list">
                    <div class="task-header">
                        <h2>Accomplistments</h2>
                        <div class="right-container">
                            <a onclick="openReportForm()">
                                <span class="lar la-plus-square"></span>Add Report
                            </a>
                        </div>
                    </div>

                    <div class="task-grid">

                        <div class="task-projects">
                            <div class="task">
                                <div class="task-body">
                                    <div class="table-responsive" style="overflow-x: auto;">
                                        <table width="100%">
                                            <thead>
                                                <tr>
                                                    <td>Date Submitted</td>
                                                    <td>Report No.</td>
                                                    <td>Description</td>
                                                    <td>Remarks</td>
                                                    <td>-</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Mar 11, 2023</td>
                                                    <td>Report No.1</td>
                                                    <td>The task were succe...</td>
                                                    <td>Achieved</td>
                                                    <td></td>
                                                </tr>

                                                <tr>
                                                    <td>April 12, 2023</td>
                                                    <td>Report No.2</td>
                                                    <td>The task were succe...</td>
                                                    <td>Unfinished</td>
                                                    <td></td>
                                                </tr>

                                                <tr>
                                                    <td>Feb 14, 2023</td>
                                                    <td>Report No.3</td>
                                                    <td>The task were succe...</td>
                                                    <td>Achieved</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="proj-right-container">
                    <div class="proj-incharge-container">
                        <div class="incharge">
                            <div class="incharge-header">
                                <br>
                                <h2>DESCRIPTION</h2>
                                <hr>
                            </div>

                            <div class="date">
                                <label>Project Name: 6 Story Bldg</label>
                            </div>

                            <div class="date">
                                <label>Subject: Supply & Install AFSS and FOAS</label>
                            </div>

                            <div class="date">
                                <label>Client: Lanao Milling Corp</label>
                            </div>

                            <div class="date">
                                <label>Project Lead: Vincent M. Cordero</label>
                            </div>

                            <div class="date">
                                <label class="title">Start Date: </label>
                                <label><input type="date"></label>
                            </div>

                            <div class="date">
                                <label class="title">Finish Date: </label>
                                <label><input type="date"></label>
                            </div>

                            <div class="status">
                                <label class="title">Status:</label>
                                <label class="on-going">
                                    <select required>
                                        <option>Select Status</option>
                                        <option>On-going</option>
                                        <option>In-going</option>
                                        <option>delay</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="proj-mems-container">
                        <div class="mems-main">
                            <div class="mems-title">
                                <br>
                                <h3>MANPOWER</h3>
                                <hr>
                            </div>
                            <div class="mems-list">
                                <div class="mems-grid">
                                    <div class="mems-projects">
                                        <div class="mems">
                                            <div class="mems-body">
                                                <div class="table-responsive" style="overflow-x: auto;">
                                                    <table width="100%">
                                                        <tbody>

                                                            <tr>
                                                                <td><b>Vincent M. Cordero</b></td>
                                                                <td>Person-in-charge</td>
                                                            </tr>

                                                            <tr>
                                                                <td><b>Vincent M. Cordero</b></td>
                                                                <td>Person-in-charge</td>
                                                            </tr>

                                                            <tr>
                                                                <td><b>Vincent M. Cordero</b></td>
                                                                <td>Person-in-charge</td>
                                                            </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-mem-container" id="input-mem-container">
            <div class="input-mems-main">
                <div class="input-mems-title">
                    <h3>Team Members</h3>

                </div>
                <div class="input-mems-list">
                    <div class="input-mems-grid">
                        <div class="input-mems-projects">
                            <div class="input-mems">
                                <div class="input-mems-body">
                                    <div class="table-responsive" style="overflow-x: auto;">
                                        <table width="100%">
                                            <thead>
                                                <tr>
                                                    <td>Name</td>
                                                    <td>Position</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td contenteditable="true"><b>Vincent M. Cordero</b></td>
                                                    <td contenteditable="true">Person-in-charge</label></td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                    <button onclick="closeInputMemForm()">Save</button>
                    <button onclick="closeInputMemForm()">Cancel</button>
                </center>
            </div>
        </div>

        <div class="report-container" id="report-container">
            <h3>DAILY REPORT</h3>
            <div class="report-grp">
                <div class="left-grp">
                    <div class="descript-container">
                        <textarea placeholder="<DESCRIPTION>"></textarea>
                    </div>
                    <div class="img-container">
                        <h3><i>IMAGE PREVIEW GRID</i></h3>
                    </div>

                </div>
                <div class="right-grp">
                    <div class="right-upper">

                    </div>
                    <div class="right-lower">

                    </div>
                </div>
            </div>

            <center>
                <button onclick="closeInputMemForm()">Save</button>
                <button onclick="closeInputMemForm()">Cancel</button>
            </center>

        </div>

        <div class="can-pop-container" id="can-popup">
            <img src="../../images/warning.png">
            <h2>System Warning!</h2>
            <p>Do you want to remove the user on the list?</p>
            <button type="button" onclick="remOpenPopup() + canClosePopup()">Yes</button>
            <button type="button" onclick="canClosePopup()">Cancel</button>
        </div>

        <div class="rem-pop-container" id="rem-popup">
            <img src="../../images/remove.png">
            <h2>Deleted!</h2>
            <p>User removed in the list successfully!</p>
            <button type="button" onclick="remClosePopup()">OK</button>
        </div>

    </main>


    <script>


        function userFiltFunction() {
            document.getElementById("userFiltDropdown").classList.toggle("user-filter-show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.user-filter-btn')) {
                var myDropdown = document.getElementById("userFiltDropdown");
                if (myDropdown.classList.contains('user-filter-show')) {
                    myDropdown.classList.remove('user-filter-show');
                }
            }
        }

        function userSortFunction() {
            document.getElementById("userSortDropdown").classList.toggle("user-sort-show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.user-sort-btn')) {
                var myDropdown = document.getElementById("userSortDropdown");
                if (myDropdown.classList.contains('user-sort-show')) {
                    myDropdown.classList.remove('user-sort-show');
                }
            }
        }

        let canpopup = document.getElementById("can-popup");

        function canOpenPopup() {
            canpopup.classList.add("can-popup-show")
        }

        function canClosePopup() {
            canpopup.classList.remove("can-popup-show")
        }

        let rempopup = document.getElementById("rem-popup");

        function remOpenPopup() {
            rempopup.classList.add("rem-popup-show")
        }

        function remClosePopup() {
            rempopup.classList.remove("rem-popup-show")
        }

        function openInputMemForm() {
            document.getElementById("input-mem-container").style.display = "block";
        }

        function closeInputMemForm() {
            document.getElementById("input-mem-container").style.display = "none";
        }

        function openDailyReportForm() {
            document.getElementById("report-container").style.display = "block";
        }

        function closeDailyReportForm() {
            document.getElementById("report-container").style.display = "none";
        }

    </script>
