@using TotalFireSafety.Models
@model Employee 

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/AdminLayout.cshtml";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Employee
        </h2>
    </header>
    <main>

        <div class="user-con" id="user-con-blur">

            <div class="upper-section">
                <div class="search-wrapper">
                    <span class="las la-search"></span>
                    <input type="text" placeholder="Search here" onkeyup="SearchItem(this.value)">
                </div>
            </div>

            <div class="user-grid">
                <div class="user-header">
                    <h3>EMPLOYEE LIST</h3>
                    <div class="user-buttons-style">
                        @*onclick="addOpenPopup()"*@
                        <button class="add-btn" title="ADD NEW ITEM" id="addBtn"><a><label>Add User</label></a></button>
                        &nbsp;
                        <button class="user-filter-btn" onclick="userFiltFunction()">
                            <a>
                                <span>Filter</span>
                                <span class="las la-chevron-down"></span>
                            </a>
                        </button>
                        <div class="user-filter-content" id="userFiltDropdown">
                            <a id="selcat"> Select Category </a>
                            <a href="#" onclick="SortByCategory(this.innerHTML)">Office Manager</a>
                            <a href="#" onclick="SortByCategory(this.innerHTML)">Warehouse Manager</a>
                            <a href="#" onclick="SortByCategory(this.innerHTML)">Supervisor</a>
                            <a href="#" onclick="SortByCategory('')">Clear</a>

                        </div>
                        &nbsp;
                        <button class="user-sort-btn" onclick="userSortFunction()">
                            <a>
                                <span>Sort</span>
                                <span class="las la-chevron-down"></span>
                            </a>
                        </button>
                        <div class="user-sort-content" id="userSortDropdown">
                            <a href="#" onclick="Ascend()">Ascending</a>
                            <a href="#" onclick="Descend()">Descending</a>
                        </div>
                    </div>
                </div>
                <div class="user-projects">
                    <div class="users">
                        <div class="user-body">
                            <div class="table-responsive" style="overflow-x: auto;">
                                <table width="100%" id="myTable">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Name</td>
                                            <td>Date Hired</td>
                                            <td>Contact Number</td>
                                            <td>Position</td>
                                            <td>Status</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="add-popup" id="add-popup">
            <div class="add-container">
                <div class="form-container">
                    <form action="@Url.Action("Users", "Admin","add")" method="post" id="formId">
                        <div class="details personal">
                            <div class="form-header">
                                ACCOUNT INFORMATION
                            </div>
                            <div class="form-contents">
                                <div class="fields">
                                    <div class="input-field">
                                        <label>Name</label>
                                        <input type="text" placeholder="Enter your name" id="name" name="emp_name" required>
                                    </div>

                                    <div class="input-field">
                                        <label>Contact</label>
                                        <input type="number" placeholder="Enter your contact" name="emp_contact" id="contact" required>
                                    </div>

                                    <div class="input-field">
                                        <label>Employee ID</label>
                                        <input type="number" placeholder="00-000" id="empId" name="emp_no" required>
                                    </div>

                                    <div class="input-field">
                                        <label>Hired Date</label>
                                        <input type="date" id="dateDisplay" name="emp_hiredDate">
                                        @*<input type="text" id="dateHired" style="display:none;" readonly>*@
                                    </div>
                                    <input type="text" id="wasd" name="formType" style="display:none;" readonly>

                                    <div class="input-field">
                                        <label>Username</label>
                                        <input type="text" placeholder="Enter username" id="username" name="Credential.username" required>
                                    </div>
                                    <input type="text" placeholder="Enter username" id="credsid" name="Credential.emp_no" style="display:none;" required>

                                    <div class="input-field">
                                        <label>Password</label>
                                        <input type="password" placeholder="Enter password" id="password" name="Credential.password" required>
                                    </div>

                                    <div class="input-field">
                                        <label>Position</label>
                                        @*<select id="sel-pos" required>
                <option disabled selected>Select Position</option>
                <option>Supervisor</option>
                <option>Office Manager</option>
                <option>Warehouse Manager</option>
            </select>*@
                                        <input type="text" placeholder="Enter Position" id="position" name="emp_position" required>
                                    </div>

                                    <div class="input-field">
                                        <label>Roles</label>
                                        <select id="sel-roles" required>
                                            <option disabled selected>Select Position</option>
                                            <option>Supervisor</option>
                                            <option>Office Manager</option>
                                            <option>Warehouse Manager</option>
                                            <option>Local Account</option>
                                        </select>
                                        <input type="number" id="rolesid" name="Role.emp_no" style="display:none;" readonly>
                                        <input type="number" id="roles" name="Role.role1" style="display:none;" readonly>
                                    </div>

                                    <div class="input-field">
                                        <label>Status</label>
                                        <select id="sel-stats" required>
                                            <option disabled selected>Select Position</option>
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
                                            <option value="Locked">Locked</option>
                                        </select>
                                        <input type="number" id="statsid" name="Status.emp_no" style="display:none;" readonly>
                                        <input type="number" id="stats" name="Status.isLocked" style="display:none;" readonly>
                                        <input type="number" id="stats1" name="Status.isActive" style="display:none;" readonly>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <center>
                            <div class="form-add-btns">
                                <button class="save" onclick="infoOpenPopup()" id="saveBtn">
                                    <span class="btnText">Save</span>
                                    <i class="las la-check-square"></i>
                                </button>

                                <button class="cancel">
                                    @*+ closeAddForm()*@
                                    <span class="btnText" onclick="canOpenPopup() " id="canBtn">Cancel</span>
                                    <i class="las la-window-close"></i>
                                </button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </div>

        <div class="info-pop-container" id="info-popup">
            <img src="~/images/information.png">
            <h2>System Warning!</h2>
            <p>Do you want to save the user on the list?</p>
            @*onclick="openPopup() + infoClosePopup()"*@
            <button type="button" onclick="submitForm()">Yes</button>
            <button type="button" onclick="infoClosePopup()">Cancel</button>
        </div>

        <div class="can-pop-container" id="can-popup">
            <img src="~/images/warning.png">
            <h2>System Warning!</h2>
            <p>Are you sure you don't want to save user on the list?</p>
            <button type="button" onclick="canClosePopup() + addClosePopup() + ResetForm()">Yes</button>
            <button type="button" onclick="canClosePopup()">Cancel</button>
        </div>

        @if (ViewBag.Success != null)
        {
            <div class="save-pop-container open-popup-show" id="popup">
                <img src="~/images/tick.png">
                <h2>@ViewBag.Type</h2>
                <p>User details has been added successfully!</p>
                <button type="button" onclick="closePopup()">OK</button>
            </div>
        }

        <div class="rem-pop-container" id="rem-popup">
            <img src="~/images/remove.png">
            <h2>Cancel!</h2>
            <p>User details has not added in the list!</p>
            <button type="button" onclick="remClosePopup() + addClosePopup()">OK</button>
        </div>

    </main>

    <script src="~/Scripts/user.js"></script>

    <script>

        //document.getElementById("sel-stats").addEventListener("change", function () {
        //    //var optionValue = this.options[this.selectedIndex].value;
        //    setHiddenStats(this.selectedIndex);
        //});

        let addpopup = document.getElementById("add-popup");
        window.onload = function () {
            @*@if ( Session["editUser"] == null || int.Parse(Session["editUser"].ToString()) == 1 )
            {
                Session["editUser"] = 0;
            }*@
            GetAllEmployeeInfo();
        }
        function userFiltFunction() {
            document.getElementById("userFiltDropdown").classList.toggle("user-filter-show");
        }

        document.getElementById("addBtn").addEventListener("click", function () {

            addpopup.classList.add("add-popup-show");
            document.getElementById("wasd").value = "add";
        });

        @*function setSession(type) {
            if (type === "add") {
                @{
                    //Session["addUser"] = "true";
                    Session["editUser"] = 0;
                }
            }
            if (type === "edit") {
                           @{
                //Session["addUser"] = "true";
                Session["editUser"] = 1;
             }
            }
            console.log(@Session["editUser"]);
        }*@

        function openEditForm(value) {
            addpopup.classList.add("add-popup-show");
            document.getElementById("wasd").value = "edit";
            //setSession("edit");
            setField(value);
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.user-filter-btn')) {
                var myDropdown = document.getElementById("userFiltDropdown");
                if (myDropdown.classList.contains('user-filter-show')) {
                    myDropdown.classList.remove('user-filter-show');
                }
            }
        }

        document.getElementById("saveBtn").addEventListener("click", function () {
            event.preventDefault();
        });

        document.getElementById("canBtn").addEventListener("click", function () {
            event.preventDefault();
        });

        function userSortFunction() {
            document.getElementById("userSortDropdown").classList.toggle("user-sort-show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.user-sort-btn')) {
                var myDropdown = document.getElementById("userSortDropdown");
                if (myDropdown.classList.contains('user-sort-show')) {
                    myDropdown.classList.remove('user-sort-show');
                }
            }
        }

        function addOpenPopup() {
            @*@{
                Session["editUser"] = "true";
                Session["addUser"] = "false";
            }*@
            addpopup.classList.add("add-popup-show")
        }

        function addClosePopup() {
            addpopup.classList.remove("add-popup-show")
        }


        let infopopup = document.getElementById("info-popup");
        function infoOpenPopup() {
            infopopup.classList.add("info-popup-show")
        }

        function infoClosePopup() {
            infopopup.classList.remove("info-popup-show")
        }

        let popup = document.getElementById("popup");

        function openPopup() {
            popup.classList.add("open-popup-show")
        }

        function closePopup() {
            popup.classList.remove("open-popup-show")
        }

        let canpopup = document.getElementById("can-popup");

        function canOpenPopup() {
            canpopup.classList.add("can-popup-show")
        }

        function canClosePopup() {
            canpopup.classList.remove("can-popup-show")
        }

        let rempopup = document.getElementById("rem-popup");

        function remOpenPopup() {
            rempopup.classList.add("rem-popup-show")
        }

        function remClosePopup() {
            rempopup.classList.remove("rem-popup-show")
        }

    </script>
