@using TotalFireSafety.Models
@model Employee 

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/AdminLayout.cshtml";
}

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Employee
        </h2>
    </header>
    <main>

        <div class="user-con" id="user-con-blur">

            <div class="upper-section">
                <div class="search-wrapper">
                    <span class="las la-search"></span>
                    <input type="text" placeholder="Search here" onkeyup="SearchItem(this.value)">
                </div>
            </div>

            <div class="user-grid">
                <div class="user-header">
                    <h3>EMPLOYEE LIST</h3>
                    <div class="user-buttons-style">
                        <button class="add-btn" title="ADD NEW ITEM" onclick="addOpenPopup()"><a><label>Add User</label></a></button>
                        &nbsp;
                        <button class="user-filter-btn" onclick="userFiltFunction()">
                            <a>
                                <span>Filter</span>
                                <span class="las la-chevron-down"></span>
                            </a>
                        </button>
                        <div class="user-filter-content" id="userFiltDropdown">
                            <a id="selcat"> Select Category </a>
                            <a href="#" onclick="SortByCategory(this.innerHTML)">Office Manager</a>
                            <a href="#" onclick="SortByCategory(this.innerHTML)">Warehouse Manager</a>
                            <a href="#" onclick="SortByCategory(this.innerHTML)">Supervisor</a>
                            <a href="#" onclick="SortByCategory('')">clear</a>

                        </div>
                        &nbsp;
                        <button class="user-sort-btn" onclick="userSortFunction()">
                            <a>
                                <span>Sort</span>
                                <span class="las la-chevron-down"></span>
                            </a>
                        </button>
                        <div class="user-sort-content" id="userSortDropdown">
                            <a href="#" onclick="Ascend()">Ascending</a>
                            <a href="#" onclick="Descend()">Descending</a>
                        </div>
                    </div>
                </div>
                <div class="user-projects">
                    <div class="users">
                        <div class="user-body">
                            <div class="table-responsive" style="overflow-x: auto;">
                                <table width="100%" id="myTable">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Name</td>
                                            <td>Mobile No.</td>
                                            <td>Hired Date</td>
                                            <td>Role</td>
                                            <td>Status</td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <div class="add-popup" id="add-popup">
            <div class="add-container">
                <div class="form-container">
                    <form action="" method="post">
                        <div class="details personal">
                            <div class="form-header">
                                ACCOUNT INFORMATION
                            </div>
                            <div class="form-contents">
                                <div class="fields">
                                    <div class="input-field">
                                        <label>Name</label>
                                        <input type="text" placeholder="Enter your name" name="emp_name" required>
                                    </div>

                                    <div class="input-field">
                                        <label>Contact</label>
                                        <input type="number" placeholder="Enter your contact" name="emp_contact" required>
                                    </div>

                                    <div class="input-field">
                                        <label>Employee ID</label>
                                        <input type="number" placeholder="00-000" name="emp_no" required>
                                    </div>

                                    <div class="input-field">
                                        <label>Hired Date</label>
                                        <input type="text" name="emp_hiredDate">
                                    </div>

                                    <div class="input-field">
                                        <label>Position</label>
                                        <select name="emp_position" required>
                                            <option disabled selected>Select Position</option>
                                            <option>Supervisor</option>
                                            <option>Office Manager</option>
                                            <option>Warehouse Manager</option>
                                        </select>
                                    </div>

                                    <div class="input-field">
                                        <label>Roles</label>
                                        <select name="role" required>
                                            <option disabled selected>Select Position</option>
                                            <option>Supervisor</option>
                                            <option>Office Manager</option>
                                            <option>Warehouse Manager</option>
                                            <option>Employee / Local Account</option>
                                        </select>
                                    </div>

                                    <div class="input-field">
                                        <label>Active Status</label>
                                        <select name="IsActive" required>
                                            <option disabled selected>Select Position</option>
                                            <option value="1">Active</option>
                                            <option value="">InActive</option>
                                            <option value="3">Locked</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="form-add-btns">
                            <button class="save" onclick="infoOpenPopup()">
                                <span class="btnText">Save</span>
                                <i class="las la-check-square"></i>
                            </button>

                            <button class="cancel">
                                <span class="btnText" onclick="canOpenPopup() + closeAddForm()">Cancel</span>
                                <i class="las la-window-close"></i>
                            </button>
                        </div>

                </div>
            </div>
        </div>

        <div class="info-pop-container" id="info-popup">
            <img src="~/images/information.png">
            <h2>System Warning!</h2>
            <p>Do you want to save the user on the list?</p>

            <button type="submit" onclick="openPopup() + infoClosePopup()">Yes</button>
            <button type="button" onclick="infoClosePopup()">Cancel</button>
        </div>

        <div class="can-pop-container" id="can-popup">
            <img src="~/images/warning.png">
            <h2>System Warning!</h2>
            <p>Are you sure you don't want to save user on the list?</p>

            <button type="button" onclick="remOpenPopup() + canClosePopup()">Yes</button>

            <button type="button" onclick="canClosePopup()">Cancel</button>
        </div>

        <div class="save-pop-container" id="popup">
            <img src="~/images/tick.png">
            <h2>Added!</h2>
            <p>User details has been added successfully!</p>
            <button type="button" onclick="closePopup()">OK</button>
        </div>
        </form>
        <div class="rem-pop-container" id="rem-popup">
            <img src="~/images/remove.png">
            <h2>Cancel!</h2>
            <p>User details has not added in the list!</p>
            <button type="submit" form="tableList" onclick="remClosePopup()">OK</button>
        </div>

    </main>

    <script src="~/Scripts/user.js"></script>

    <script>
        window.onload = function () {
            GetAll();
        }
        function userFiltFunction() {
            document.getElementById("userFiltDropdown").classList.toggle("user-filter-show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.user-filter-btn')) {
                var myDropdown = document.getElementById("userFiltDropdown");
                if (myDropdown.classList.contains('user-filter-show')) {
                    myDropdown.classList.remove('user-filter-show');
                }
            }
        }

        function userSortFunction() {
            document.getElementById("userSortDropdown").classList.toggle("user-sort-show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (e) {
            if (!e.target.matches('.user-sort-btn')) {
                var myDropdown = document.getElementById("userSortDropdown");
                if (myDropdown.classList.contains('user-sort-show')) {
                    myDropdown.classList.remove('user-sort-show');
                }
            }
        }



        let addpopup = document.getElementById("add-popup");
        function addOpenPopup() {
            addpopup.classList.add("add-popup-show")
        }

        function addClosePopup() {
            addpopup.classList.remove("add-popup-show")
        }


        let infopopup = document.getElementById("info-popup");
        function infoOpenPopup() {
            infopopup.classList.add("info-popup-show")
        }

        function infoClosePopup() {
            infopopup.classList.remove("info-popup-show")
        }

        let popup = document.getElementById("popup");

        function openPopup() {
            popup.classList.add("open-popup-show")
        }

        function closePopup() {
            popup.classList.remove("open-popup-show")
        }

        let canpopup = document.getElementById("can-popup");

        function canOpenPopup() {
            canpopup.classList.add("can-popup-show")
        }

        function canClosePopup() {
            canpopup.classList.remove("can-popup-show")
        }

        let rempopup = document.getElementById("rem-popup");

        function remOpenPopup() {
            rempopup.classList.add("rem-popup-show")
        }

        function remClosePopup() {
            rempopup.classList.remove("rem-popup-show")
        }

    </script>
