<!DOCTYPE html>
<html lang="en">
<head>
    <title>TFSTI</title>
    <link rel="shortcut icon" type="image/icon" href="~/images/tfsti-logo-noname.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel='stylesheet' type='text/css' />
    @Styles.Render("~/content/login")

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
    @Scripts.Render("~/scripts/login")
<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
</script>
<!--===============================================================================================-->
<script src="~/Scripts/js/main.js"></script>
</html>
