
@{
    ViewBag.Title = "BadRequest";
    Layout = "~/Views/_ErrorLayoutPage1.cshtml";
}

<div class="notfound-404">
    <div></div>
    <h1>4040</h1>
</div>
<h2>Bad Request</h2>
<p>The server encounter an error while processing your request</p>
<br>

