
@{
    ViewBag.Title = "Forbidden";
    Layout = "~/Views/_ErrorLayoutPage1.cshtml";
}

<div class="notfound-404">
    <div></div>
    <h1>403</h1>
</div>
<h2>Forbidden</h2>
<p>You don't have permission to access this resources.</p>
<br>

