
@{
    ViewBag.Title = "InternalServerError";
    Layout = "~/Views/_ErrorLayoutPage1.cshtml";
}

<div class="notfound-404">
    <div></div>
    <h1>500</h1>
</div>
<h2>Server Error</h2>
<p>The server encountered an internal error or misconfiguration and was unable to complete your request. </p>
<br>

