
@{
    ViewBag.Title = "MethodNotAllowed";
    Layout = "~/Views/_ErrorLayoutPage1.cshtml";
}

<div class="notfound-404">
    <div></div>
    <h1>405</h1>
</div>
<h2>Not Allowed</h2>
<p>The method you are using to access the file is not allowed</p>
<br>