
@{
    ViewBag.Title = "Unauthorize";
    Layout = "~/Views/_ErrorLayoutPage1.cshtml";
}

<div class="notfound-404">
    <div></div>
    <h1>401</h1>
</div>
<h2>Unauthorize</h2>
<p>Authorization has been denied for this request.</p>
<br>



